#see_nearby_shops_container{
	max-height:240px;
	overflow:auto;
}
#kyash_postcode{
	width:100px;
}
#kyash_postcode_button{
	border: 1px solid rgb(153, 153, 153); 
	width: 110px;
	padding:5px !important;
}
.kyash_succcess_instructions{
	padding: 10px; 
}
#kyash_postcode_payment{
	margin-left:5px;
}
#kyash_postcode_payment  a{
	font-size:13px;
	float:none;
}
#kyash_postcode_payment_sub{
	margin-left:2px;
	display:none;
}
#kyash_postcode_payment_sub label{
	font-size:12px;
	min-width:45px;
	padding:0;
}
#kyash_postcode_payment_sub input{
	text-align: center;
	font-size:12px !important;
}
#kyash_close{
	display:none;
	color:#333;
	margin-top:3px;
	font-weight:bold;
	font-size:12px;
}

a#kyash_open
{
	float:left;
}